{% extends "basic_app/base.html" %}
{% load staticfiles %}
{% block body_block %}
    <div class="middle" style="margin-top: 30px;">
      <div class="ui very inverted text container segment" style="background: none;">
        <h1 class="middle">Giphy Generator</h1>
        <p>Click the button below to randomly generate Spongebob Squarepants Gifs!</p>
        <!-- <button class="ui button red" id="giphy">New Gif</button> -->
        <button id="giphy" class="ui button red">Generate Gif</button>
        <p id="spongebob" class="" style="margin-top: 10px;"></p>
      </div>
    </div>
{% endblock %}
